@import url("https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Trispace:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Trispace", sans-serif;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 2rem 0;
  border: 0.6rem solid #5611d6a2;
  h1 {
    font-family: "Do Hyeon", sans-serif;
    text-align: center;
    font-size: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    letter-spacing: 4px;
    word-spacing: 8px;
    span {
      font-family: "Trispace", sans-serif;
      display: block;
      text-transform: none;
      letter-spacing: 0;
      word-spacing: 0;
      font-size: 1.2rem;
    }
  }
}
#projects {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  .projec-grp {
    //  width: fit-content;
    text-align: center;
    padding: 1rem;
    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
    ul {
      li {
        border-bottom: 1px dotted #333;
        padding: 0.5rem 0;
        a {
          font-size: 1.5rem;
        }
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
  #html-css-projects {
    background: #c6eb417e;
  }
  #js-projects {
    background: #53c9717e;
  }
}
