/* Nav bar */
#nav-bar h1,
#nav-bar ul,
#nav-bar ul li{
   float: none;
}
#nav-bar{
   text-align: center;
}
#nav-bar ul li a{
   padding: 8px;
}
#nav-bar ul li{
   border-bottom: 1px double #727272;
}
#nav-bar ul li:last-child{
   border: none;
}

/* main-content */
#main-content{
   padding-top: 120px;
}
#main-content h1{
   font-size: 50px;
   line-height: 4rem;
}

/* home-info */
.info-img{
   display: none;
}
.info-content h2{
   padding-bottom: 10px;
   font-size: 30px;
}
.info-content{
   float: none;
   width: 100%;   
   padding: 5px 5px;
}
#home-info{
   height: 260px;
}

.box{
   width: 100%;
   float: none;
   text-align: center;
   padding: 10px 5px;
}

/* About */
.info-left{
   float: none;
   width: 100%;
   text-align: center;
}
.info-right{
   width: 100%;
   float: none;
}
.info-right img{
   margin-top: 20px;
}
#testimonials{
   padding: 0 10px;
   padding-top: 20px;
}
#testimonials h2{
   font-size: 35px;
}
.testimonial{
   /* margin: 40px 30px;
   padding: 20px 15px; */
   margin-bottom: 20px;
   padding: 20px;
   min-height: 140px;
   opacity: .9;
}

/* Contact */
#contact-info .box{
   border-bottom: 1px #818181 solid;
}
#contact-info .box:last-child{
   border: none;
}