/* Reset Browser Style */
*{
   margin: 0px;
   padding: 0px;
   box-sizing: border-box;
}
body{
   font-family: Arial, Helvetica, sans-serif;
   line-height: 1.5rem;
   overflow: auto;
}
a{
   text-decoration: none;
   color: #333;
}
/* utility */
.container{
   margin: auto;
   max-width: 1100px;
}
.text-primary{
   color: rgb(252, 182, 117);
}
.btn{
   display: inline-block;
   background: #333;
   font-size: 18px;
   padding: 12px 20px;
   border: none;
   color: white;
   cursor: pointer;
}
.btn-light{
   background: white;
   color: #333;
}
.btn:hover{
   background: #fcb675;
   color: #333;
}
.bg-dark{
   background: #333;
   color: white;
}
.bg-gray{
   background: #413f3d;
   color: white;
}
.bg-light{
   background: #f4f4f4;
   color: #333;
}
.bg-primary{
   background: #fcb675;
   color: #333;
}
.clear-float{
   clear: both;
}


/* Nav bar Style */
#nav-bar{
   background: rgb(43, 43, 43);
   overflow: auto;
}
#nav-bar a{
   color: white;
}
#nav-bar h1{
   float: left;
   padding: 14px 14px;
   font-size: 40px;
}
#nav-bar ul{
   float: right;
   list-style: none;
}
#nav-bar ul li{
   float: left;
}
#nav-bar ul li a{
   display: block;
   padding: 14px;
}
#nav-bar ul li a:hover, 
#nav-bar ul li a.current{
   background: #444;
   color: #fcb675;
}
/* main body style */
main{
   background: url(../img/showcase.jpg) no-repeat center center/ cover;
   height: 600px;
}
#main-content{
   text-align: center;
   padding-top: 160px;
   color: white;
}
#main-content h1{
   font-size: 60px;
   padding-bottom: 10px;
}
#main-content p{
   font-size: 22px;
   padding-bottom: 40px;
}
/* section style */
#home-info{
   height: 450px;   
}
.info-img{
   background: url('../img/photo-1.jpg') no-repeat;
   background-size: cover;
   float: left;
   min-height: 100%;
   width: 50%;
   overflow: auto;
}
.info-content{
   float:right;
   height: 100%;
   width: 50%;
   text-align: center;
   padding: 25px 15px;
   overflow: hidden;
}
.info-content h2{
   margin-top: 10px;
   padding-bottom: 30px;
   font-size: 24px;
   line-height: 2.2rem;
}
.info-content p{
   font-size: 18px;
   line-height: 1.2rem;
   padding-bottom: 20px;
}
/* Features */
/* #features{
   height: 260px;
} */
.box{
   width: 33.3%;
   float: left;
   text-align: center;
   padding: 40px 20px;
   height: 100%;
}
.box h2{
   margin-bottom: 20px;
}
.box i{
   margin-bottom: 10px;
}
/* main-Footer */
#main-footer{
   text-align: center;
   padding: 5px 0px;
   font-weight: bold;
   font-size: 12px;
}

/* About-info */
#about-info{
   min-height: 250px;
   margin: 30px 40px;
   overflow: hidden;
}
.info-left{
   width: 60%;
   float: left;
}
.info-left h2{
   font-weight: bold;
   font-size: 30px;
   margin-bottom: 20px;
}
.info-left p{
   margin: 10px 0px;
}
.info-right{
   width: 40%;
   float: right;
}
.info-right img{
   width: 75%;
   display: block;
   margin: auto;
   border-radius: 50%;
}

/* Testimonials */
#testimonials{
   background: url('../img/test-bg.jpg') no-repeat center center /cover;
   min-height: 500px;
   overflow: hidden;
   padding: 0px 50px;
   padding-top: 40px;
   /* padding-left: 50px;
   padding-right: 50px; */
   text-align: center;
}
#testimonials h2{
   font-size: 40px;
   color: #f4f4f4;
   padding-bottom: 40px;
   line-height: 1em;
}
.testimonial{
   /* margin: 40px 30px;
   padding: 20px 15px; */
   margin-bottom: 40px;
   padding: 20px;
   min-height: 140px;
   opacity: .9;
}
.testimonial img{
   display: block;
   width: 100px;
   border-radius: 50%;
   float: left;
   margin-right: 20px;
}
.testimonial p{
   text-align: justify;
}

/* Contact-form */
#contact-form{
   padding: 20px;
}
#contact-form h1{
   margin-bottom: 20px;
   font-size: 40px;
}
#contact-form .form-group{
   margin: 10px 0px;
}
.form-group label{
   display: block;
}
.form-group input, textarea{
   width: 100%;
   padding: 10px;
   font-size: 18px;
   border: 1px solid #bbbbbb;
}
.form-group textarea{
   height: 100px;
}
#contact-info{
   min-height: 200px;
   overflow: hidden;
}
.form-group input:focus,
textarea:focus{
   outline-color: #fcb675;
   /* outline: none; */
   /* border-color: #fcb675; */
}